<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mat.awaresample">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDmKJTnvYLHBSRe9Qj1OppcgTv6LS7MTA8" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmKJTnvYLHBSRe9Qj1OppcgTv6LS7MTA8" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAHsomZzgODf2P8XUmCu8W-6vwYGifKDpM" />

        <receiver
            android:name=".IAmStillBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.mat.awaresample.STILL_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>